src/org/sigaim/siie/iso13606/rm/ISO13606_4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dt="uri:iso.org:21090" xmlns:rc="http://www.iso.org/iso/search.htm?qt=13606" targetNamespace="http://www.iso.org/iso/search.htm?qt=13606" xml:lang="en">
	<xs:import namespace="uri:iso.org:21090" schemaLocation="./ISO21090_ISCIII_Subset.xsd"/>
	<xs:include schemaLocation="./ISO13606_1_demographic.xsd"/>
	<!-- CEN/ISO 13606 Electronic Healthcare Record Extract Model -->
	<!--        (c)2008 CHIME, University College London          -->
	<!--                Created by Tony Austin                    -->
	<!--                Supported by Dipak Kalra                  -->
	<!--                Supported by Shanghua Sun                 -->
	<xs:annotation>
		<xs:documentation>
      XML Schema  equivalent  representation of  the  CEN/ISO 13606 
      part 4  Security  document for Electronic  Healthcare  Record 
      exchange.  This Schema  definition  conforms  to the  13606-4
      version published March 2007.  In general, class and variable
      naming in this implementation follows a "CamelCase" style.
      
      Note that the  termlists of 13606 part 4 are intended to have
      type CS  (defined in part 1)  but only two  of the  necessary
      parts of the CS are provided by the documentation  (usually a
      value and a human-readable portion).  The CS type is not used
      in this implementation.
      
      The Access Policy model  herein is described in  part 4 as  a
      Composition  whose  archetype  conforms  to  a specification.
      However, part 1  does  not  require  the use  of  archetypes,
      and  this  implementation  reproduces  the  infomation  model
      given in UML on part 4, page 35.
      
      In this implementation,  a [0..1] cardinality SET of anything
      is treated  as a [0..*] XML list.   A general replacement  of
      strings and TEXT values with the ISO datatype  CD.CV has also
      been performed.  Certain mandatory  TS timestamps  are now an
      XML dateTime.

      (c) 2008 CHIME, University College London.
      Created by Tony Austin.
    </xs:documentation>
	</xs:annotation>
	<!--                                                          -->
	<!--                     The Termlists                        -->
	<!--                                                          -->
	<xs:simpleType name="Sensitivity">
		<xs:annotation>
			<xs:documentation>
        The sensitivity of each Record Component defined by part 1,
        if  specified.  Note that sensitivity  is declared  as type
        integer  in part 1  (from most- to least-sensitive)  and so
        the meanings are given here as documentation annotations.
      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>personal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>privilegedCare</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>clinicalCare</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>clinicalManagement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>careManagement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FunctionalRoles">
		<xs:annotation>
			<xs:documentation>
        The functional role of any intended EHR recipient.
      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="subjectOfCare"/>
			<xs:enumeration value="subjectOfCareAgent"/>
			<xs:enumeration value="personalHealthcareProfessional"/>
			<xs:enumeration value="privilegedHealthcareProfessional"/>
			<xs:enumeration value="healthcareProfessional"/>
			<xs:enumeration value="healthRelatedProfessional"/>
			<xs:enumeration value="administrator"/>
		</xs:restriction>
	</xs:simpleType>
	<!--                                                          -->
	<!--                  Access Policy Model                     -->
	<!--                                                          -->
     <xs:complexType name="AccessPolicy">
		<xs:annotation>
			<xs:documentation>
        Access policies for an EHR Extract.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="policyId" type="dt:II"/>
			<xs:element name="author" type="dt:II"/>
			<xs:element name="dateCommitted" type="xs:dateTime"/>
			<xs:element name="previousVersion" type="dt:II" minOccurs="0"/>
			<xs:element name="effectiveStart" type="dt:TS" minOccurs="0"/>
			<xs:element name="effectiveEnd" type="dt:TS" minOccurs="0"/>
			<xs:element name="policyAttestation" type="rc:Attestation" maxOccurs="unbounded"/>
			<xs:element name="ehrTarget" type="rc:Target" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="requestCharacteristics" type="rc:Request" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="accessRules" type="rc:MaxSensitivityConstraints"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Attestation">
		<xs:annotation>
			<xs:documentation>
        Validates the use of an Access Policy.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="time" type="xs:dateTime"/>
			<xs:element name="performer" type="dt:II"/>
			<xs:element name="proof" type="dt:ED" minOccurs="0"/>
			<xs:element name="function" type="dt:CD.CV" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Target">
		<xs:annotation>
			<xs:documentation>
        Defines the set of Record Components or Archetypes to which
        this policy applies.  If no Target  criteria  are specified
        then the policy is assumed to apply to the whole Extract.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rcIds" type="dt:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="archetypeIds" type="dt:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="timePeriod" type="dt:IVL_TS" minOccurs="0"/>
			<xs:element name="otherCriteria" type="dt:CD.CV" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Request">
		<xs:annotation>
			<xs:documentation>
        Defines the  properties of  the  requestors to  which  this
        policy  applies.   If  no  requestor  characteristics   are
        specified  then the  policy  applies to all requests.  Note
        that  CS_FUNC_ROLE  refers  to the  FunctionalRoles  class,
        despite that  not being named  as such in the  standard and
        not described therein  as a CS.  CS_SETTING is not given at
        all and becomes a CD.CV here.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="functionalRoles" type="rc:FunctionalRoles" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="structuralRoles" type="dt:CD.CV" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="clinicalSettings" type="dt:CD.CV" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="specialities" type="dt:CD.CV" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="parties" type="dt:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="otherCharacteristics" type="dt:CD.CV" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MaxSensitivityConstraints">
		<xs:annotation>
			<xs:documentation>
        Defines constraints on the sensitivity of Record Components
        to which this policy applies.  If only "access" constraints
        are given  then  these  are presumed  to apply to  all  EHR
        operations. The sensitivity values herein correspond to the
        sensitivity values  in the Record Component class  (but are
        given as simple  integer types in the standard).  BL is now
        boolean.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="access" type="rc:Sensitivity"/>
			<xs:element name="write" type="rc:Sensitivity" minOccurs="0"/>
			<xs:element name="modify" type="rc:Sensitivity" minOccurs="0"/>
			<xs:element name="communicate" type="rc:Sensitivity" minOccurs="0"/>
			<xs:element name="allVersions" type="xs:boolean"/>
			<xs:element name="otherConstraints" type="dt:CD.CV" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--                                                          -->
	<!--                    Audit Log Model                       -->
	<!--                                                          -->
	<xs:complexType name="EHRAuditLogExtract">
		<xs:annotation>
			<xs:documentation>
        Root class containing the Audit Log in a communicable form.
        Note that part 4 gives  "timeCreated"  as having type "II",
        and this has been corrected to "TS" in this implementation.
        Also,  the  standard  does not  provide  labels for  linked 
        classes and these have been inferred.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ehrSystem" type="dt:II"/>
			<xs:element name="ehrId" type="dt:II"/>
			<xs:element name="subjectOfCare" type="dt:II"/>
			<xs:element name="timeCreated" type="xs:dateTime"/>
			<xs:element name="hcaAuthorising" type="dt:II" minOccurs="0"/>
			<xs:element name="demographicExtract" type="rc:DemographicExtract" minOccurs="0"/>
			<xs:element name="auditLogConstraints" type="rc:AuditLogConstraints" minOccurs="0"/>
			<xs:element name="ehrAuditLogEntry" type="rc:EHRAuditLogEntry" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuditLogConstraints">
		<xs:annotation>
			<xs:documentation>
        Defines the filter  that has been  applied when  generating
        this audit log extract. Integer sensitivity is corrected to
        Sensitivity type here.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="timePeriod" type="dt:IVL_TS" minOccurs="0"/>
			<xs:element name="maxSensitivity" type="rc:Sensitivity" minOccurs="0"/>
			<xs:element name="archetypeIds" type="dt:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="rcIds" type="dt:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="otherConstraints" type="dt:CD.CV" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EHRAuditLogEntry">
		<xs:annotation>
			<xs:documentation>
        Defines the filter  that has been  applied when  generating
        this audit log extract. Integer sensitivity is corrected to
        Sensitivity type here. BL is now boolean.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="purpose" type="dt:CD.CV" minOccurs="0"/>
			<xs:element name="responseDt" type="dt:TS"/>
			<xs:element name="recipient" type="dt:II" minOccurs="0"/>
			<xs:element name="reasonForRefusal" type="dt:CD.CV" minOccurs="0"/>
			<xs:element name="otherResponseDetails" type="dt:CD.CV" minOccurs="0"/>
			<xs:element name="archetypeIds" type="dt:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="rcIds" type="dt:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="timePeriod" type="dt:IVL_TS" minOccurs="0"/>
			<xs:element name="allVersions" type="xs:boolean" minOccurs="0"/>
			<xs:element name="descriptionOfData" type="dt:CD.CV" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
